.w_full {
  width: 100%;
}

.h_full {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.document_body {
  display: flex;
}

.mat-drawer {
  margin-top: 4rem;
  position: fixed;
  z-index: 2;
}

.main_content_outer {
  display: flex;
  flex-direction: column;
}

.main_content_inner {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.example-spacer {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}

.menu-button.rotated {
  transform: rotate(180deg);
}

.submenu {
  overflow-y: hidden;
  padding-left: 30px;
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 300ms ease;
}

.submenu.expanded {
  transform: scaleY(1);
}
